.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/public/uploads/
test/support/carrierwave/carrierwave_cache/*

test/fixtures/files/uploads/tmp/
.byebug_history

test/dummies/dummy_review/db/*.sqlite3
test/dummies/dummy_review/db/*.sqlite3-journal
test/dummies/dummy_review/log/*.log
test/dummies/dummy_review/tmp/
test/dummies/dummy_review/public/uploads/
