<!DOCTYPE html>
<html>
<head>
  <title>Buttafly</title>
  <%= stylesheet_link_tag    "buttafly/application", media: "all" %>
  <%= javascript_include_tag "buttafly/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
