Howdy. This is an unstyled dummy wine review app. If you've created reviews, they'll show up in the table below. If not, navigate to "buttafly" above, and you should be able to find a sample review.csv file to upload in buttafly/test/samples/
