%p#notice= notice
%h1 Contents
%h2
  configurable model is
  = Buttafly.originable_model

%table
  %thead
    %tr
      %th{:colspan => "3"}
  %tbody
-#     - @contents.each do |content|
-#       %tr
-#         %td= link_to 'Show', content
-#         %td= link_to 'Edit', edit_content_path(content)
-#         %td= link_to 'Destroy', content, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Content', new_content_path
